
.about-section {
  padding-top: 100px; /* space for fixed navbar */
  padding-left: 8%;
  padding-right: 8%;
  background: radial-gradient(circle at top, #1a0033, #05010d);
  color: white;
  min-height: 100vh;
  scroll-margin-top: 80px; /* optional, helps anchor scroll */
}/* Education section */
.education {
  margin: 40px 0;
}

.education h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.education ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #ccc;
}

.education ul li {
  margin-bottom: 8px;
  font-size: 16px;
}